.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .button-div-row1 {
    display: flex;
    flex-direction: row;
  }

  .button-div-row1 > *:not(:last-child) {
    margin-right: 80px;
  }

  .button-div-row2 {
    display: flex;
    flex-direction: row;
  }

  .button-div-row2 > *:not(:last-child) {
    margin-right: 80px;
  }
  
  .button-div > * {
    margin-bottom: 10px;
  }
  
  .button-div > :last-child {
    margin-bottom: 0;
  }
  