.page {
  background-color: #90E0EF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center; /* Adicionado para centralizar o texto */
}

.container {
  width: 400px;
  height: 480px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.title {
  color: #03045E;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.space {
  margin: 2px; 
}

.gray-text {
  color: gray;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: 'Poetsen One', sans-serif;

                                                
}

.blue-text {
  color: #03045E;
  font-size: 16px;
  font-weight: 850;
  margin-bottom: 17px;
  font-family: 'Poetsen One', sans-serif;
                                                
}

.input-group {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group .gray-text {
  color: gray;
  font-size: 14px;
  margin-right: 80%;
}

.form-group .blue-text {
  color: #03045E;
  font-size: 16px;
  font-weight: bold;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.button-group button {
  margin-bottom: 10px;
}

.password-input-container {
  position:;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;

  height: 25px;
  margin-top: 12%;
  margin-right: 28%;
}

.password-icon:hover {
  opacity: 0.7;
}
