:root {
  --white: #ffffff;
  --black: #000000;

  --primary-color: #1e90ff;

  --success: #1eb75b;
  --error: #d13540;
  --warning: #fbb041;

  --grey-100: #f9f9f9;
  --grey-300: #cdcdcd;
  --grey-400: #9e9e9e;
  --grey-500: #818181;
  --grey-700: #606060;
  --grey-800: #333333;
  --grey-900: #121214;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
