  .signupcontainer {
    width: 900px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .signuplogo {
    width: 100px;
    height: 100px;
  }
  
  .signuptitle {
    color: #03045E;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .input-row {
    display: flex; 
    margin-bottom: 15px;
  }
  
  .input-row input {
    flex: 1;
    margin-right: 10px;
  }

  .input-row > div {
    margin-right: 35px;
  }
  
  .gray-text {
    color: black;
    font-size: 12px;
    margin-bottom: 15px;
  }


 .button-voltar {
  margin-right: 50px;
  margin-top: 10px;

 }

 .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

